
@media (max-width:1402px) {
    
}

@media (max-width:1202px) {
    
}

@media (max-width:995px) {
    
}

@media (max-width:769px) {
    .hd-1 {font-size: 1.6rem;} 
    .hd-2{font-size: 1.2rem;}   
    
}

@media (max-width:577px) {
    .hd-1 {font-size: 1.4rem;} 
    .hd-2{font-size: 1rem;}     
    .hd-3{font-size: 1.1rem;}     
}




